@charset "UTF-8";
.pageTitle{
    margin-left: 3.1rem;
}
.scroll{
    bottom:0;
    background:#f3f5f7;
}
.scroll section{
    padding:0 0.5rem;
}
.articleTitle{
    font-size:0.75rem ;
    line-height:2.2rem ;
    color:#333333;
    font-weight:bold;
   
    text-align: center;
}
.paragraphTitle{
    font-size: 0.75rem;
    line-height: 1.425rem;
    color:#333333;
    font-weight: bold;
}
.paragraph{
    font-size: 0.6rem;
    line-height: 1.45rem;
    color:#333333;
}