@charset "utf-8";
/* CSS Document */
/*头部代码*/
*{ margin:0; padding:0;}
body{
    font-family: "MicroSoft YaHei",sans-serif;/*如果没有微软雅黑 就使用移动端默认的字体*/
    font-size: 0.35rem;
    color: #333;
}
/*清楚移动端浏览器对表单的默认样式*/
input[type="search"],input[type="tel"],input[type="text"],,textarea{
    border: 0;
    resize: none;
    outline: none;
    /*清除移动浏览默认的样式*/
    -webkit-appearance: none;
}
li{
    list-style:none;
}
i, b ,em{
    font-style:normal;
}

.red{
    background: #C90C1E;


}
a{
    text-decoration: none;
}
.color_red{
    color:#EC2426;
}
.color_666{
    color:#999999;
    font-size:0.6rem;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}
i,b{font-style: normal;}
.cle{ clear:both;}
.car_header{
    width:100%;
    height:2.3rem;
    line-height: 2.2rem;
    font-size: 0.75rem;
    color:#ffffff;
    position:fixed;
    top:0;
    left:0;
	z-index:99999;

}
.car_header h2{
   height: 2.2rem;
     width: 100%;
   font-size:0.7rem;
   font-weight: normal;
   text-align: center;
   line-height:2.2rem;
   position: relative;
}
.car_header h2 a{
       width: 0.8rem;
    height: 0.8rem;
    left: 0.5rem;
    top: 0.75rem;
    position: absolute;
    background: url(../images/shareShop_r2_c1.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 5px;
}
.car_header h2 span{
    width:1.2rem;
    height:1.2rem;
    background: url("../images/delete_car.png")no-repeat ;
    right: 2.5rem;
    top: 0.5rem;
    position: absolute;
    background-size: 100% 100%;
}
.car_header h2 b{
    width:1.2rem;
    height:1.2rem;
    background: url("../images/messages.png") no-repeat;
    right: 0.5rem;
    top: 0.5rem;
    position: absolute;
    background-size: 100% 100%;
}

.spans span{
    float: right;
}
.spans a{
    float: right;
}
.car_header span{
    display: inline-block;
}
.car_header span:nth-child(1){
    margin-left: 6.75rem;
    float: left;
}
.iconbox{width: 1.4rem; height: 1.4rem;background: url("../images/iconimg.png") no-repeat;left:1.8rem;top: 0.4rem;position: absolute; background-size: 100% 100%; margin: 2px 6px;}
.car_header .textin{left:3.6rem; top: 0.5rem; position: absolute;line-height:1.1rem;width:243px; border-radius:0.2rem; -moz-border-radius:0.2rem; -webkit-border-radius:0.2rem; padding:0.1rem; color:#d3d3d3; 
    position:relative;background:#FFF;outline: none;margin-left: 15px;}
.textin i{background:url(../images/blowUp.png) no-repeat; left:0.4rem;top: 0.3rem;position: absolute; background-size: 100% 100%; width:0.6rem; height:0.6rem;}
.car_header .textin input{color:#d3d3d3; font-size:0.5rem; border:none 0; background:none 0;outline: none; margin-left:-20px;}
footer{ z-index:999;}
.warp_banner{height:8.4rem; overflow: hidden;}
/*footer8*/
.footer_span{
    display:block;
    width:100%;
    height:2.3rem;
    /*line-height: 2.5rem;*/
    font-size:0.8rem;
    font-weight: 600;
    background: #ffffff;
    margin-bottom:-0.1rem;

}
.tanhao{
    display: inline-block;
    width:0.8rem;
    height:0.8rem;
    line-height: 0.8rem;
    border:1px solid #ccc;
    border-radius:0.4rem;
    text-align: center;
    vertical-align: middle;
    color: #999999;



}
.reminder{font-size:0.2rem;color:#cccccc;}
.jiesuan{
    display: block;
    float: right;
    width:6rem;
    text-align:center;
    /*height:2.5rem;*/

    position:absolute;
    top:-0rem;
    right:0;
    background: #C50C20;
    color:#ffffff;
    line-height:2.2rem;

}
.bottom_btn img{
    width:0.95rem;
    height:0.65rem;
    margin: 0 0.5rem;
}
.bottom_footer{
    width:100%;
    height:2.5rem;
    background: #E0E0E0;

}

.bottom_footer a{
    display: inline-block;
    width:18.6%;
    height:2.5rem;
    text-align: center;
    position:relative;
	color: #333333;
     
}
.bottom_footer img{
    display: block;
    width:1.25rem;
    height:1.25rem;
    margin: 0.3rem auto 0 auto;

}
footer{
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 999999;
}
.boxa{z-index:100000;}
.boxa .bubble{height:0.6rem;
        width:1rem;
        background:#c90c1e;
        position:absolute;
        top:0.3rem;
        right:0rem;
        border-radius:0.3rem;
        font-size:0.4rem;
        color:white;
        line-height:0.6rem;}

