@charset "UTF-8";

.pageTitle{
    margin-left: 3.1rem;
}
.scroll {
    bottom: 0;
    background: #f3f5f7;
    text-align:center;
}
.scroll input{
    border:1px solid #d9d9d9;
    height:2rem;
    width:14.75rem;
    font-size:0.75rem;
    line-height:2rem;
}
.box{
    background:white;
    height:2rem;
    width:14.75rem;
    margin:0 auto;
    margin-top:0.5rem;
    position:relative;

}
.box input{
    text-indent:0.5rem;
}
.box span{
    position:absolute;
    left:0.1rem;
    top:0rem;
    display:block;
    height:2rem;
    line-height:2rem;
    cursor:pointer;
}
.box1{
    background:white;
    height:2rem;
    width:14.75rem;
    margin:0 auto;
    margin-top:0.5rem;
    position:relative;
}
.box1 input{
    text-indent:0.5rem;
}


.nextStep{
    margin-top:2rem;
    background:#eeeeee;
}
p{
    width:14.75rem;
    margin:0 auto;
    font-size:0.6rem;
    line-height:1rem;
    padding-top:0.5rem;
    text-align:left;
}
