@charset "UTF-8";

.pageTitle{
    margin-left: 3.1rem;
}
.scroll {
    bottom: 0;
    background: #f3f5f7;
    text-align:center;
}
.scroll input{
    border:1px solid #d9d9d9;
    height:2rem;
    width:100%;
    font-size:0.75rem;
    line-height:2rem;
}
.box{
    background:white;
    height:2rem;
    width:100%;
    margin:0 auto;
    position:relative;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    text-align:left;
    text-indent:0.5rem;
    line-height:2rem;
    font-size:0.5rem;
    background:url(../images/rightChose.png) no-repeat right;
    background-color:white;
}

.box span{
    position:absolute;
    left:0.1rem;
    top:0rem;
    display:block;
    height:2rem;
    line-height:2rem;
    cursor:pointer;
}
.box1{
    background:white;
    height:2rem;
    width:100%;
    margin:0 auto;
    position:relative;
    border-bottom:1px solid #d9d9d9;
    text-align:left;
    text-indent:0.5rem;
    line-height:2rem;
    font-size:0.5rem;
    background:url(../images/rightChose.png) no-repeat right;
    background-color:white;
}
p{
    font-size:0.5rem;
    width:15rem;
    margin:0 auto;
    text-align:left;
    line-height:1rem;
}
p b{
    color:red;
}
.p1{
    height:1.5rem;
    line-height:1.5rem;
}


