@charset "UTF-8";
.pageTitle{
    /*margin-left: 1.6rem;*/
    width: 65%;
    text-align: center;
}
.scroll {
    bottom: 0;
    background:#f3f5f7;
    margin-top: 2rem;
}
.edit{
    float: right;
    color: #fff;
    margin-right: 0.55rem;
}
.searchBox{
    background:#cecece;
   /* height:2.25rem; */
   padding:0.35rem 0;

}
.searchBox p{
     height:1.5rem;
    font-size:0.675rem;
    line-height:1.5rem;
    color:#cecece;
    background:#fff;
    width:15rem;
    margin:0 0.5rem;
    border-radius: 5px;
    position: relative;
}
.searchBox p em{
    position: absolute;
    width:0.75rem;
    height:0.75rem;
    background:url(../images/searchInsideMes.png) no-repeat;
    background-size: contain;
    right:1rem;
    top:0.35rem;
}
.searchBox p input{
    width:12rem;
    text-indent: 0.5rem;
   /* height:
    line-hieght:*/
}
.insideMesList{
    width:15rem;
    margin:0 auto;
}
.insideMesList li {
    width:100%;
    border-bottom: 1px solid #cccccc;
    margin:0.25rem 0 0.5rem;
    font-size: 0.7rem;
    line-height: 1.3rem;
    color:#333333;

}
.insideMesList .active{
   background:#f2f7fd;

}
.insideMesList li .leftBtn{
    float: left;
    position: relative;
    height:2.6rem;
    width:1.05rem;
}
.insideMesList .leftBtn label{
 visibility: hidden;
}
/* .insideMesList .leftBtn input{
    display:block;
} */
.insideMesList .leftBtn span{
    display:block;
    width:0.4rem;
    height:0.4rem;
    background:url(../images/insideMesCheckbox.png) no-repeat;
    background-size: contain;
    margin-left: 0.15rem;
   /*  margin-top: 0.5rem; */
   /*  position: absolute;
   left:0.2rem;
   bottom:0.5rem; */

}
/* .insideMesList .leftBtn label{
    display:none;
} */
.leftBtn input:checked+i {
    background: url(../images/guestRadio.png) no-repeat;
    background-size: contain;
}
.leftBtn i {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.25rem;
    background: url(../images/radio.png) no-repeat;
    vertical-align: middle;
    background-size: contain;
}
.insideMesList li .rightMes{
    float: left;
}
.delBtnBox{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2.2rem;
    display:none;
}
.delBtnBox span{
    width:49.8%;
    display:inline-block;
    height:100%;
    border-right:1px solid #999999;
    background:#e6e6e6;
    text-align:center;
    font-size: 0.85rem;
    line-height:2.2rem ;
    color:#333333;

}
.delBtnBox .del{
    border-right: none;
   color:#da2a2e;
}
.scroll .msg_list li {
    height: 2rem;
    width: 90%;
    margin:0 auto;
    line-height: 2rem;
    border-bottom: 1px solid #ccc;
}
.scroll .msg_list li .span_left{
   float: left;
   font-size: 0.7rem;
   color: #666;
}
.scroll .msg_list li .span_right{
   float: right;
    font-size: 0.7rem;
   color: #666;
}
.header {
    width: 100%;
    height: 1.375rem;
    line-height: 1.375rem;
    vertical-align: middle;
    background: #c90c1e;
    font-size: 0.75rem;
    padding: 0.4rem 0 0.425rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.back {
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/back.png) no-repeat;
    background-size: contain;
    margin-left: 0.525rem;
    margin-top: 0.3rem;
}
.mainLogo {
    float: left;
    width: 1.225rem;
    height: 1.375rem;
    background: url(../images/mainLogo.png) no-repeat;
    background-size: contain;
    margin-left: 0.7rem;
}
.pageTitle {
    float: left;
    color: #fff;
    font-size: 0.8rem;
  
}
.edit {
    float: right;
    color: #fff;
    margin-right: 0.55rem;
}