@charset "UTF-8";
@import url(reset.css);
//公共样式

body{
      font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /*使用无衬线字体*/
 }

a, img {
        -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

html, body {
        -webkit-user-select: none; /*禁止选中文本*/
        user-select: none;
}

button,input,optgroup,select,textarea {
         -webkit-appearance:none; /*去掉webkit默认的表单样式*/
}

a,button,input,optgroup,select,textarea {
        -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

input::-webkit-input-placeholder {
        color:#ccc; /*修改webkit中input的planceholder样式*/
}
body {
        -webkit-text-size-adjust: 100%!important; /*禁止IOS调整字体大小*/
}

input::-webkit-input-speech-button {
        display: none; /*隐藏Android的语音输入按钮*/
}
.proWrapBox{
    position:relative;
    height:100%;
}
  html,body,.wrapper{
          width: 100%;
          height:100%;
       }
/* .nav{
    float:left;
    font-size: 0.75rem;
    height:1.3rem;
    line-height: 1.3rem;
}
.nav a{
    float:left;
    color:#fff;
    padding:0 0.2rem;
}
.nav .active{
    background:#a10a18;
    border-radius: 5px;
} */

/* .car{
    float: right;
    position:relative;
    width:0.825rem;
    height: 0.825rem;
    margin-top:0.35rem;
    margin-right:0.525rem ;
    background:url(../images/car.png) no-repeat;
    background-size: contain;

} */
.footerLi .focus.flag{
    background:url(../images/red.png) no-repeat;
    background-size: contain;
}
.car .number{
    position:absolute;
    width:0.7rem;
    height:0.7rem;
    font-size:0.35rem ;
    line-height: 0.7rem;
    background:#fff;
    color:#c90c1e;
    right:-0.375rem;
    top:-0.225rem;
    border-radius: 50%;
    text-align: center;
    font-weight: normal;

}
.proWrap{
   /*  padding:0.75rem 0 0;
   box-sizing: border-box; */
    /* height:15.3rem;*/
     box-shadow: 0 0 5px #f3f1f1;
     position:relative;
     overflow: hidden;
}

/* .roundNum{
    position:absolute;
    left:0.9rem;
    bottom:0.9rem;
     width:3.2rem;
    height:0.325rem;
   
    opacity:0.6;
    font-size:0.425rem ;
    line-height:1.4rem ;
    color:#fff;
    border-radius: 50%;
    text-align: center;
}
.roundNum .change{
    font-size:0.55rem ;
    line-height:1.4rem ;
} */


.itemList{
    width:700%;
    height:14.2rem;
    position:absolute;
    left:0;
    top:0.75rem;
}
.item{
    float:left;
    width:16rem;
    text-align: center;
    height:14.2rem;
}
.item a{
    display:block;
    width:100%;
    height:14.4rem;
    text-align: center;
}
.item img{
    
    height:100%;
}
.itemTitle{
    width:100%;
    box-sizing: border-box;
    padding:0.45rem 1.45rem 0 0.525rem;
    font-size: 0.8rem;
    line-height:1.05rem ;
    color:#333333;
}
.itemTitle a{
    color:#333333;
}
.itemPrice{

    width:100%;
    height:1.875rem;
    line-height: 1.875rem;
    box-sizing: border-box;
    padding:0 1.45rem 0 0.525rem;
    border-bottom: 1px solid #e6e6e6;
}
.price{
    float:left;
    color:#f22f33;
}
.ico{
    float:right;
    width:0.75rem;
    height:1.05rem;
    background:url(../images/fenxiang.png) no-repeat;
    background-size:contain;

}
.blank{
    width:100%;
    height:0.5rem;
    background:#f3f5f7;

}
.property{
    width:100%;
    box-sizing: border-box;
    padding:0 0.5rem 0;
    height:2.15rem;
    font-size:0.6rem ;
    color:#333333;
    line-height: 2.15rem;
   
   
    border:1px solid #e6e6e6;
    border-left: none;
    border-right: none;

}
.choseIco{
    float:right;
    width:0.35rem;
    height:0.7rem;
    
    background:url(../images/property.png) no-repeat;
    background-size: contain;
    margin-top:0.725rem;
}
.footer{
    width:100%;
    border-top:1px solid #c2c4c6;
    height:2.75rem;
    background:#fff;
    box-sizing: border-box;
    position:fixed;
    left:0;
    bottom:0;
}
.footerList {
    float:left;
    height:100%;
    width:48%;
    margin-right: -1px;

}
.footerList li{
    float:left;
    height:100%;
   
    text-align: center;
}
.footerList .footerLi{
    /*  padding:0 0.435rem; */
     border-right:1px solid #ccc;
     box-sizing: border-box;
     width:33.3%;
     margin:0 auto;
}
/* .footerList .focusLi{
    border-right: none;
} */
/* .footerList .kefuLi{width:3rem;}
.footerList .storeLi{width:2rem;} */
.footerList .focusLi{border-right: none;}
.footerLi  a{
    display:block;
    font-size: 0.475rem;
    
    line-height:1.075rem;
   
    margin:0.525rem 0 0.075rem 0;
    color:#333333;
}
.footerLi span{
    margin:0 auto;
}
.footerLi .kefu{
    display:block;
    width:0.9rem;
    height:0.9rem;
    background:url(../images/kefu.png) no-repeat;
    background-size: contain;

}
.footerLi .store{
    display:block;
    width:0.9rem;
    height:0.9rem;
    background:url(../images/store.png) no-repeat;
    background-size: contain;

}
.footerLi .nofocus{
    display:block;
    width:0.9rem;
    height:0.9rem;
    background:url(../images/focus.png) no-repeat;
    background-size: contain;
}
.footerLi .focus{
    display:block;
    width:0.9rem;
    height:0.9rem;
    background:url(../images/red.png) no-repeat;
    background-size: contain;
}
.buyBox{
    float:left;
    width:52%;
    height:100%;
}

.buyBox div{
    width:50%;
    float:left;
    height:100%;
    text-align: center;
}

.addCar{
    height:100%;
    background:#f2b904;


}
.addCar a{
    display:block;
    font-size:0.7rem ;
    line-height:2.7rem ;
    color:#fff;
   /* padding:0 0.3rem 0 0.25rem;*/
   /*  box-sizing: border-box; */
}
.buy{
    height:100%;
    background:#f22f33;



}
.buy a{
    display:block;
    font-size:0.7rem ;
    line-height:2.7rem ;
    color:#fff; 
    /* padding:0 0.8rem 0 0.6rem; */
   /*  box-sizing: border-box; */
}
/*弹出层*/
.mask{
    position: fixed;
   /*  position:absolute; */
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#000;
    opacity:0.7;
    display:none;
   
}
.goodsBox{
    width:100%;
    /* height:21.275rem; */
    background:#fff;
    position:fixed;
    left:0;
    bottom:-23.375rem;
   
    box-sizing: border-box;
   /* display:none; */
    transition: .5s;
    z-index: 100;
}
.productDetail{
    /* width:15.5rem; */
    position:relative;
    border-bottom: 1px solid #e4e6e9;
    padding:0 0.5rem;
    
}
.closeBtn{
    position:absolute;
    width:0.65rem;
    height:0.65rem;
    right:0.2rem;
    top:0.675rem;
    background:url(../images/closeBtn.png) no-repeat;
    background-size: contain;
}
.imgBox{
    width:4.2rem;
    height:4.2rem;
    position:absolute;
    left:0.5rem;
    top:-1.5rem;
    border:2px solid #e6e6e6;
    background:#fff;
    border-radius: 8px;
    text-align: center;
}
.imgBox img{
    width:3.7rem;
    height:4rem;
}
.goodsPrice{
    float:right;
    margin-right: 0.8rem;
    margin-top:1.875rem;
    font-size:0.625rem ;
    line-height:1.3rem ;
    margin-bottom:0.075rem ;
}
.goodsPrice .pricePro{
    color:#f22f33;
}
.goodsPrice .proId{
    font-size: 0.5rem;
}
.bigProbox{
    max-height:6.5rem ;
    overflow-y:auto;
}
.proBox{
    padding:0 0.5rem;
}
.proBox h4{
    font-size:0.7rem ;
    height:1.25rem;
    line-height:1.25rem;
    color:#666666;
   /*  margin-bottom:0.45rem ; */

}
.proBox .color{
    margin-top:1rem;
}
.option span{
    float: left;
   /*  width:1.6rem; */
   padding:0 0.2rem;
    font-size:0.5rem ;
    height:1.35rem;
    line-height: 1.35rem;
    background:#fff;
    border:2px solid #c2c3c4;
    border-radius:5px;
    margin-right: 0.2rem;
    margin-bottom:0.2rem ;
    text-align: center;
    color:#333333;
}
.option .chosedSpan{
    border:2px solid #f33737;
    color:#f33737;
}
.numBox{
    /* height:1.45rem; */
    font-size:0.7rem;
   /*  line-height:1.45rem; */
    padding:0.5rem 0.5rem; 
    color:#666666;



}
.itemTheme{
    float: left;
   /*  margin-left: 0.6rem; */
}
.numAdd{
    float: right;
     border:2px solid #808080;
    border-radius: 8px;
    height:1.35rem;
    line-height:1.35rem;
}
.numAdd input{
    float: left;
    width:1.45rem;
    height:1.2rem;
    text-align: center;
    border-right: 2px solid #808080;
    box-sizing: border-box;
}
.numAdd .num{
     float: left;
    width:1.45rem;
    height:1.2rem;
    text-align: center;
    border-right: 2px solid #808080;
    box-sizing: border-box;
}
/* .reduce{
    border-radius: 8px 0 0 8px;
}*/
.numAdd .add{
     border-right: none;
} 
.buyBtn{
    width:100%;
    height:2.2rem;
    background:#f33737;
    font-size:0.75rem ;
    line-height: 2.2rem;
    color:#fff;
    text-align: center;
   /*  margin-top:2.25rem; */

}
/* //商品详情 */
.sections .section_box{
    width: 100%;
    margin: 0 auto;
 }
/* .sections .section_box .words_box1{
    font-size:0.6rem;

    line-height: 1rem;
 }*/
 .sections .section_box p{
    font-size:0.7rem;
    line-height: 1.1rem;
 }
.sections .section_box  div{
    width:100%;
    margin-top:10px;
}
.sections .section_box  div img{
    width:100%;
    margin-top: 5px;
    display: block;
}
.section_one{width:100%;height:6.875rem;padding:0.5rem 0.5rem;margin-top: 2rem;}
.section_two{width:100%;height:6.875rem;padding:0.5rem 0.5rem;margin-top:0;border-top:1px solid #ccc;}
/* .words_box1{
    font-size:0.6rem;

    line-height: 1rem;
} */

.main_box{
    width:100%;
}
.main_box img{
    width:100%;
    display: block;
}

/* //评论 */
.shop_details_box{
   -webkit-box-flex:1;
    -webkit-ms-flex:1;
     -webkit-moz-flex:1;
    overflow-y:scroll;
   /* position: relative;*/
}

.header{
    width:100%;
    line-height: 1.375rem;
    /*height: 1.375rem;*/
   /* position: fixed;
    left: 0;
    top:0;*/
    background:#c90c1e;
    font-size: 0.75rem;
    padding: 0.4rem 0 0.425rem;
    /* position:fixed;
    top:0;
    left:0;
    z-index: 9999; */
     height: 2rem; 

}
.scroll{
    overflow:scroll;
}
.back{
    float:left;
    width:0.8rem;
    height:0.8rem;
    background:url(../images/back.png) no-repeat;
    background-size:contain;
    margin-left: 0.525rem;
    margin-top:0.3rem ;
}
.mainLogo{
    float:left;
    width:1.225rem;
    height:1.375rem;
    background:url(../images/mainLogo.png) no-repeat;
    background-size: contain;
    margin-left: 0.7rem;
    margin-right: 0.2rem;
}
/* .nav{
    float:left;
    font-size: 0.75rem;
    height:1.3rem;
    line-height: 1.3rem;
}
.nav a{
    float:left;
    color:#fff;
    padding:0 0.5rem;
} */

.nav{
    float:left;
    font-size: 0.75rem;
    height:1.3rem;
    line-height: 1.3rem;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;

}
.nav a{
    float:left;
    color:#fff;
    width: 32%;
    text-align: center;

}

.nav .active {
    background: #a10a18;
    border-radius: 5px;
}

.car{
    float: right;
    position:relative;
    width:0.825rem;
    height: 0.825rem;
    margin-top:0.25rem;
    margin-right:0.525rem ;
    background:url(../images/car.png) no-repeat;
    background-size: contain;

}
.car .number{
    position:absolute;
    width:0.65rem;
    height:0.65rem;
    font-size:0.35rem ;
    line-height: 0.65rem;
    background:#fff;
    color:#c90c1e;
    right:-0.375rem;
    top:-0.225rem;
    border-radius: 50%;
    text-align: center;
    font-weight: normal;

}
.proWrap{
    /*padding:0.75rem 0;*/
    box-sizing: border-box;
    /*height:15.875rem;*/
    box-shadow: 0 0 5px #f3f1f1;
    position:relative;
}
.roundNum{
    position:absolute;
    right:0.9rem;
    bottom:0.9rem;
    width:1.4rem;
    height:1.4rem;
    background:#999999;
    opacity:0.6;
    font-size:0.425rem ;
    line-height:1.4rem ;
    color:#fff;
    border-radius: 50%;
    text-align: center;
}
.roundNum .change{
    font-size:0.55rem ;
    line-height:1.4rem ;
}
/*头部代码end*/
/*评价盒子部分start*/
.evaluate_box{
    width:100%;
    height:100%;
    background: #F3F5F7;
   /* margin-top: 2.2rem;*/
overflow:hidden;}
.evaluate_head{
    width:100%;
    border-bottom:2px solid #E6E6E6;
    background: #ffffff;
    height:2.4rem;

}
.evaluate_head ul li{
    float: left;
    width:25%;
    text-align: center;
    font-size: 0.7rem;
}
.tab_title{height:1.2rem;
    line-height:1.5rem;
}
.colour{color: #DA2A2E;}
.tab_num{
    height:1.25rem;
    line-height: 1.25rem;
}
.evaluate_Modular{
    width:100%;
    background: #fff;
    margin-top: 0.5rem;
}
.Modular_list{
    width: 96%;
    height: auto;
    margin: 0 auto;
}
.Modular_list h2{
    height: 2rem;
    line-height: 2rem;
   padding-bottom: 0.3rem;
   /*  border-bottom: 1px solid #DDD; */

}
.Modular_list h2 span{
    font-size: 0.8rem;
    font-size: #666;
    width: 98%;
    margin-right: 0 auto;
}
.Modular_list h2 .span_one {

    display: inline-block;
    width:1.3rem;
    height:1.3rem;
    /* background: url("../images/headimg.png")no-repeat; */
    background-size: contain;
    vertical-align: text-bottom;
    margin:0.4rem 0.4rem 0 0.4rem;


}
.Modular_list h2 .span_three{
    padding-left: 0.2rem;
}
.Modular_list h2 .span_three i{
    display: inline-block;
    width:0.75rem;
    height:0.75rem;
    background: url("../images/heart_img.png") no-repeat;
    background-size: contain;
}
.Modular_list h3{
    width: 100%;
    /* border-top:1px solid #E6E6E6; */
    height:1.85rem;
    line-height: 1.85rem;
}
.Modular_list h3 span{
    font-size: 0.8rem;
}
.Modular_list h3 span img{
  display: inline-block;
  width:0.875rem;
  height:0.875rem;
  background-size: contain;
  margin-top: 0.5rem;
}
.Modular_list p{
    font-size: 0.6rem;
    width: 100%;
    height:auto;
    line-height:0.8rem;
    margin-bottom: 0.5rem;
}
.Mobile_box{
    height:5.2rem;
    width: 100%;
}
.Mobile_box a{
    display: inline-block;
    width:32%;
    height:4.5rem;
}
.Mobile_box img{
    height:4.8rem; 
    width: 4.8rem;
    background-size: contain;
}
.gongkai{ font-size: 0.7rem;
    color:#999999;
    padding-left:0.2rem;
}
.date_box{
    width:100%;
    font-size: 0.7rem;
    padding-top: 0.3rem;
    color:#999999;
    height: 2rem;
    padding-left:0.2rem;
    position: relative;
}
.date_box p{
    position: absolute;
    left: 7rem;
    top:0.2rem;
    width: 5rem;
    height: 1rem;
    display: inline-block;
}
.date_box p b{
    position: absolute;
    left: 2rem;
    top:0.1rem;
    width:0.9rem;
    height: 0.9rem;
    display: inline-block;
    background:url(../images/red_heart.png) no-repeat;
    background-size: contain;
}
.date_box p span{
    position: absolute;
    right: 0.5rem;
    top:0.2rem;
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}
.date_box h1{
    position: absolute;
    right: 0.5rem;
    top:0.2rem;
    width: 5rem;
    height: 1rem;
    display: inline-block;
}
.date_box h1 a{
    position: absolute;
    right: 1.8rem;
    top:0.1rem;
    width:0.9rem;
    height: 0.9rem;
    display: inline-block;
    background:url(../images/message_img.png) no-repeat;
    background-size: contain;
}
.date_box h1 span{
    position: absolute;
    right: 0.5rem;
    top:0.2rem;
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}


/*Rendy - 20/01/2017*/

.buyBox div.addCar {
    width:55%;
}

.buyBox div.buy {
    width:45%;
}

.car {
    right: 13px;
}

.nav a {
    width: 33%;
}

.nav {
    font-size: 0.6rem;
    width: 60%;
    margin-left: 3%;
    margin-right: 0;
}

/*Rendy - 20/01/2017*/